/*!
 * aS.c Core Tools Admin CSS
 */

.asc-core-tools-tabs {
	margin: 20px 0 20px 0;
}
.asc-core-tools-tabs .nav-tab {
	cursor: pointer;
}

.asc-core-tools-tab-content h2 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.asc-core-tools-tab-content {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 40px 20px;
	background-color: #fff;
	border: 1px solid #c3c4c7;
	box-sizing: border-box;
	max-width: 960px;
}
.asc-core-tools-admin p.submit {
	margin-top: 0;
}

.asc-core-tools-tab-content .form-table {
	margin-top: 10px;
}
.asc-core-tools-tab-content .form-table th,
.asc-core-tools-tab-content .form-table td {
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 20px;
}
.asc-core-tools-tab-content .form-table td fieldset label {
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}

.asc-core-tools-tab-content .form-table td input[type="text"],
.asc-core-tools-tab-content .form-table td input[type="password"],
.asc-core-tools-tab-content .form-table td select,
.asc-core-tools-tab-content .form-table td textarea {
	margin-bottom: 10px;
}

.asc-core-tools-table-input-description {
	margin-bottom: 10px;
}
.form-table td fieldset .asc-core-tools-table-input-description label {
	display: block;
	margin-bottom: 5px;
}

.asc-core-tools-description {
	margin-bottom: 20px;
}
.asc-core-tools-description:last-child {
	margin-bottom: 10px;
}

.asc-core-tools-description-label {
	margin-bottom: 10px;
}

.asc-core-tools-font-buttons {
	margin-bottom: 10px;
}
.asc-core-tools-font-list div {
	margin-top: 0;
	margin-bottom: 10px;
}
.asc-core-tools-font-list ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.asc-core-tools-extra-checkbox {
	margin-top: 20px;
}

.form-table.asc-core-tools-database-actions td {
	padding-left: 0;
}

.asc-core-tools-database-tab .asc-core-tools-delete-obsolete-data,
.asc-core-tools-database-tab .asc-core-tools-delete-orphaned-data,
.asc-core-tools-database-tab .asc-core-tools-optimize-tables {
	margin-right: 5px;
	margin-bottom: 10px;
}

.asc-core-tools-db-status {
	margin-top: -20px;
	padding: 0 10px 20px 0;
}

/* Accessibility */

.asc-core-tools-tabs .nav-tab:focus {
	outline: none;
}
.asc-core-tools-tabs .nav-tab:focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 0;
}
.asc-core-tools-admin .form-table input:focus,
.asc-core-tools-admin .form-table select:focus,
.asc-core-tools-admin .form-table textarea:focus,
.asc-core-tools-admin .form-table button:focus,
.asc-core-tools-admin button:focus {
	outline: none;
}
.asc-core-tools-admin .form-table input:focus-visible,
.asc-core-tools-admin .form-table select:focus-visible,
.asc-core-tools-admin .form-table textarea:focus-visible,
.asc-core-tools-admin .form-table button:focus-visible,
.asc-core-tools-admin button:focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 0;
}
