/*!
 * aS.c Core Tools Social Sharing CSS
 */

body {
	--asc-social-color: #efefef;
	--asc-social-hover-color: #fff;
	--asc-social-bg-color: #888;
	--asc-social-hover-bg-color: #aaa;

	--asc-social-alert-color: #efefef;
	--asc-social-alert-hover-color: #fff;
	--asc-social-alert-bg-color: #888;
	--asc-social-alert-hover-bg-color: #aaa;
}

.asc-core-tools-share-container {
	text-align: center !important;
	margin: 60px auto 50px auto !important; /* spacing for social share box */
}
.asc-core-tools-share-container .asc-core-tools-share-header {
	margin-right: 10px !important;
	font-weight: 600 !important;
}
@media (max-width: 420px) {
	.asc-core-tools-share-container .asc-core-tools-share-header {
		display: block !important;
		margin-right: 0 !important;
		margin-bottom: 5px !important;
	}
}
.asc-core-tools-share-container .acs-share-networks {
	text-align: center !important;
}
.asc-core-tools-share-container .asc-core-tools-share-icon {
	cursor: pointer !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	display: inline-block !important;
	vertical-align: middle !important;
	text-align: center !important;
	min-height: 50px !important;
	min-width: 50px !important;
	font-size: 18px !important;
	line-height: 24px !important;
	padding: 13px !important;
	border-radius: 10px !important;
	color: var(--asc-social-color) !important; /* icon color */
	background-color: var(--asc-social-bg-color) !important; /* icon background color */
}
.asc-core-tools-share-container .asc-core-tools-share-icon:hover,
.asc-core-tools-share-container .asc-core-tools-share-icon:active,
.asc-core-tools-share-container .asc-core-tools-share-icon:focus {
	background-color: var(--asc-social-hover-bg-color) !important; /* hover icon background color */
	color: var(--asc-social-hover-color) !important; /* hover icon color */
}

.asc-core-tools-share-container .asc-core-tools-copy {
	position: relative !important;
	cursor: copy !important;
}
.asc-core-tools-share-container .asc-core-tools-share-success {
	cursor: pointer !important;
	display: none;
	position: absolute !important;
	overflow: hidden !important;
	border-radius: 10px !important;
	bottom: 60px !important;
	right: 50px;
	width: 160px !important;
	min-height: 40px !important;
	font-size: 18px !important;
	line-height: 24px !important;
	padding: 8px 13px !important;
	color: var(--asc-social-alert-color) !important; /* success message font color */
	background-color: var(--asc-social-alert-bg-color) !important; /* success message background color */
	margin: 0 !important;
	z-index: 999999 !important;
}
.asc-core-tools-share-container .asc-core-tools-share-success:hover,
.asc-core-tools-share-container .asc-core-tools-share-success:active,
.asc-core-tools-share-container .asc-core-tools-share-success:focus {
	color: var(--asc-social-alert-hover-color) !important; /* hover icon color */
	background-color: var(--asc-social-alert-hover-bg-color) !important; /* hover icon background color */
}
.asc-core-tools-share-container .asc-core-tools-share-alert-message {
	margin-right: 10px !important;
}
.asc-core-tools-share-container .asc-core-tools-share-alert-close {
}